FRANCE_TRAVAIL_CLIENT_ID=remplacer_par_votre_client_id
FRANCE_TRAVAIL_CLIENT_SECRET=remplacer_par_votre_client_secret
FRANCE_TRAVAIL_SCOPE=api_offresdemploiv2 o2dsoffre
FRANCE_TRAVAIL_TOKEN_URL=https://entreprise.francetravail.fr/connexion/oauth2/access_token
FRANCE_TRAVAIL_API_BASE_URL=https://api.francetravail.io/partenaire/offresdemploi/v2
DISCORD_WEBHOOK_URL=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
